.seo-preview,
.seo-preview div {
  font-family: arial,sans-serif !important;
}

.seo-preview {
  background-color: #FFF;

  font-size: 13px;
  line-height: 16px;

  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 512px;
  margin: 0.5em 5px;
  padding: 5px;
  z-index: 9999;

  border: 15px solid #CCC;
}

.seo-warning {
  border: 15px solid #800000;
}

.seo-warnings > div {
  font-weight: bold;
  color: #800000;
}

.seo-tipp {
  color: #999;
}

.seo-border-bottom {
  border-bottom: 1px dotted #CCC;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
}

.seo-preview-hidden {
  background-color: #a0dfbf;
  width: auto !important;
  border: none !important;
}

.seo-preview-hidden.seo-warning {
  background-color: #800000;
}

.seo-preview-hidden.seo-warning a.seo-preview-toggle {
  color: #FFF;
}

.seo-preview-hidden a.seo-preview-toggle {
  color: #666;
}

.seo-preview-hidden > div {
  display: none;
}

.seo-preview-hidden .seo-preview-toggle {
  border-bottom: none !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.seo-preview .seo-preview-toggle {
  color: #999;
  display: block;
  text-align: right;
  font-size: 13px;
  outline: 0 !important;
}

.seo-preview .seo-title {
  color: rgb(17, 34, 204);
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  text-decoration: underline;
}

.seo-preview .seo-url {
  color: rgb(0, 153, 51);
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}

.seo-preview .seo-description {
  color: #444;
  font-size: 13px;
  font-weight: normal;
}

.seo-preview .seo-description-fade {
  color: #CCC;
}

.seo-preview .seo-description .seo-counter {
  color: #999;
  display: block;
  text-align: right;
  border-top: 1px dotted #CCC;
  padding-top: 0.25em;
  margin-top: 0.25em;
}
